$base-color: #f4fafe;
$color-1: #125386;
$color-2: #2196f3;
$color-active: #3bd136;
//$color-inactive: #ccc;
$color-inactive: #e91e2f;
$color-disable: lightgrey;
$color-chip-u:#a0d2fa;
$color-chip-s:#BDBDBD;
$color-chip-g1:#e4858d;
$color-chip-g2:#64ef5f;
$color-chip-g3: lightgrey;

.color-nc{
    color: $color-inactive;
}

.color-c{
    color: $color-active;
}

.base{
    background-color: $base-color !important;
    padding: 20px !important;
    height: 760px !important;
    min-height: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
   // flex-direction: column !important;
   // box-sizing: border-box !important;
    // display: flex !important;
}

.base-card{
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    background: white;
    //margin-top: 0 !important;
    //min-height: 100%;
    //height: 100%;
    //min-width: 333px;
}


.b-title{
    padding-top: 10px;
    padding-left: 20px;
    color: $color-1;
    font-weight: bold;
    font-size: 24px;
}


.c-title{
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.r-card{
    border-radius: 0.5rem;
    //border-color: blue;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.5);
    background: #F6F2FF;
}

.c-card{
    border-radius: 0.5rem;
    //border-color: green;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    background: #F6F2FF ;
}

.p-card{
    border-radius: 0.5rem;
    //border-color: green;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    background: white;
}

.ci-box{
    border-radius: 0.5rem;
    border-color: lightgray;//#104C7E;
    border-style: solid;
    border-width: 1px;
    background: white;
}

.v-text{
    
    font-weight: bold;
    font-size: 20px;
}

.pic-box{
    border-radius: 7px;
    background: $base-color;
    border: 1px solid rgba(0, 0, 0, 0.45);
    padding: 5px;
    width: 64px;
    height: 64px;
    .icon{
        font-size: 64px;
    }
}

.text-name{
    font-size: 16px;
    font-weight: bold;
}

.text-name-short{
    font-size: 12px;
    font-weight: bold;
}

.text-pos{
    font-size: 10px;
    color: $color-1;
}

.text-pos-short{
    font-size: 9px;
    color: $color-1;
}

.text-hier{
    font-size: 11px;
    color: $color-1;
    padding: 10px;
}

.text-hier-short{
    font-size: 10px;
    color: $color-1;
}

.text-hier-lbl{
    font-size: 9px;
    color: $color-2;
}

.text-hier-lbl-short{
    font-size: 9px;
    color: $color-2;
}