<app-reporte-simple
  titulo="Seguimiento BP"
  [paramsHier]="paramsHier"
  [nivel]="nivelActual()"
  [tabla]="tabla()"
  [cargando]="cargando()"
  (nivelSeleccionado)="onNivelSeleccionado($event)"
  (errorJerarquia)="onErrorJerarquia()"
>
  <div filtros class="flex flex-col sm:flex-row sm:items-end gap-3 flex-wrap">
    <app-select-filtro
      etiqueta="Fecha Cierre"
      [opciones]="opcionesFechaBase"
      [valor]="fechaBase()"
      (valorChange)="fechaBase.set($event)"
    />
    <app-select-filtro
      etiqueta="Producto"
      [opciones]="opcionesProducto"
      [valor]="producto()"
      (valorChange)="producto.set($event)"
    />
  </div>
</app-reporte-simple>
