.base-tree-invisible {
    display: none;
}

.base-tree ul{
    padding-left: 20px;
}


  
.base-tree ul,
.base-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.node:hover {
    background-color: rgba(0, 162, 255, 0.1) !important;
}

