<app-window-panel
  id="tour-esg-panel"
  titulo="Cuadro de Mando ESG"
  [actualizando]="cargandoPortada()"
  etiquetaActualizar="Actualizar cuadro de mando"
  (actualizar)="recargar()"
>
  @if (esAdmin()) {
    <button
      ventana-acciones
      id="tour-esg-usuarios-btn"
      type="button"
      class="mis-window-btn"
      (click)="mostrarDialogoUsuarios()"
      aria-label="Usuarios de las métricas"
      pTooltip="Usuarios"
      tooltipPosition="bottom"
    >
      <i class="pi pi-users text-[14px]"></i>
    </button>
  }

  <button
    ventana-acciones
    id="tour-esg-tour-btn"
    type="button"
    class="mis-window-btn"
    (click)="tour.iniciarTourGuiado()"
    aria-label="Ver guía interactiva"
    pTooltip="Ver guía interactiva"
    tooltipPosition="bottom"
  >
    <i class="pi pi-question-circle text-[14px]"></i>
  </button>

  <p-tabs [(value)]="tabActiva">
    <p-tablist id="tour-esg-tabs">
      <p-tab value="portada">Portada</p-tab>
      @for (tab of tabsCategorias; track tab.codCat) {
        <p-tab [value]="'cat-' + tab.codCat">{{ tab.titulo }}</p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="portada">
        <div class="esg-portada-fondo rounded-lg overflow-hidden flex-1 flex flex-col">
          <div class="esg-portada-degradado flex-1 flex items-end justify-end p-3 sm:p-6">
            <div class="w-full sm:w-4/5 lg:w-3/5 xl:w-1/2 max-w-3xl">
              @if (cargandoPortada()) {
                <div class="flex flex-col gap-2">
                  @for (i of [1, 2, 3]; track i) {
                    <p-skeleton height="1.5rem" />
                  }
                </div>
              } @else {
                <p-table id="tour-esg-portada-tabla" [value]="portada()" [stripedRows]="true" styleClass="p-datatable-sm">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="whitespace-nowrap" style="background-color: #5b9bd5; color: white;">Estado</th>
                      <th class="whitespace-nowrap text-center" style="background-color: #5b9bd5; color: white; min-width: 115px;">Medio Ambiente</th>
                      <th class="whitespace-nowrap text-center" style="background-color: #5b9bd5; color: white; min-width: 120px;">Social Empleados</th>
                      <th class="whitespace-nowrap text-center" style="background-color: #5b9bd5; color: white; min-width: 115px;">Social Clientes</th>
                      <th class="whitespace-nowrap text-center" style="background-color: #5b9bd5; color: white; min-width: 90px;">Gobierno</th>
                      <th class="whitespace-nowrap text-center" style="background-color: #5b9bd5; color: white; min-width: 75px;">Total</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-fila>
                    <tr class="text-[12px]">
                      <td class="whitespace-nowrap font-medium">{{ fila.des }}</td>
                      <td class="text-center">{{ fila.c1 }}</td>
                      <td class="text-center">{{ fila.c3 }}</td>
                      <td class="text-center">{{ fila.c2 }}</td>
                      <td class="text-center">{{ fila.c4 }}</td>
                      <td class="font-bold text-center">{{ fila.c99 }}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6" class="text-center text-[13px] text-[var(--mis-text-tertiary)] py-6">Sin información disponible.</td>
                    </tr>
                  </ng-template>
                </p-table>
              }
            </div>
          </div>
        </div>
      </p-tabpanel>

      @for (tab of tabsCategorias; track tab.codCat) {
        <p-tabpanel [value]="'cat-' + tab.codCat">
          <app-categoria-metricas-tabla
            [columnasHistoricas]="columnasHistoricasDe(tab.codCat)"
            [filas]="filasDe(tab.codCat)"
            [cargando]="cargandoCategorias()[tab.codCat] ?? false"
            [puedeEditar]="puedeEditarModulo() || esAdmin()"
            (editar)="onEditarFila($event)"
            (verDetalle)="onVerDetalleFila($event)"
          />
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</app-window-panel>

<app-editar-metrica-dialog
  [visible]="mostrarEditar()"
  (visibleChange)="mostrarEditar.set($event)"
  [fila]="filaSeleccionada()"
  [modoEdicion]="modoEdicion()"
  [situaciones]="configuracion()?.situaciones ?? []"
  [atributos]="configuracion()?.atributos ?? []"
  [columnasHistoricas]="filaSeleccionada() ? columnasHistoricasDe(filaSeleccionada()!.cod_cat) : []"
  (guardado)="onMetricaGuardada()"
/>

<app-usuarios-metrica-dialog
  [visible]="mostrarUsuarios()"
  (visibleChange)="mostrarUsuarios.set($event)"
  [categorias]="configuracion()?.categorias ?? []"
  [metricasPorCategoria]="metricasPorCategoria()"
/>
