<p-table [value]="filas()" [loading]="cargando()" [scrollable]="true" scrollHeight="520px" styleClass="p-datatable-sm">
  <ng-template pTemplate="header">
    @for (fila of encabezados().filas; track $index) {
      <tr>
        @for (columna of fila; track columna.key) {
          <th
            [attr.colspan]="columna.colspan"
            [attr.rowspan]="columna.rowspan"
            class="text-[12px] uppercase text-center whitespace-nowrap border border-[var(--mis-text-on-primary)]/25"
            style="color: var(--mis-text-on-primary);"
            [style]="columna.style ?? null"
            [style.background-color]="columna.style?.['background'] ?? 'var(--mis-primary)'"
          >
            {{ columna.label }}
          </th>
        }
      </tr>
    }
  </ng-template>
  <ng-template pTemplate="body" let-fila>
    <tr [class.font-bold]="destacada(fila)" [class.cursor-pointer]="seleccionable()" [style.background-color]="destacada(fila) ? 'var(--mis-hover)' : null" (click)="onClickFila(fila)">
      @for (columna of encabezados().columnasHoja; track columna.key) {
        <td class="text-[13px] whitespace-nowrap" [class]="alineacion(columna)" [style]="columna.cellStyle ?? null" [style.color]="color(fila, columna)">
          @if (mostrarSemaforo(fila, columna)) {
            <i class="pi pi-circle-fill text-[10px]" [class]="colorSemaforo(fila, columna)"></i>
          }
          {{ valor(fila, columna) }}
        </td>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="encabezados().columnasHoja.length || 1" class="text-center text-[13px] text-[var(--mis-text-tertiary)] py-6">
        Sin datos para mostrar.
      </td>
    </tr>
  </ng-template>
</p-table>
