<app-reporte-simple
  titulo="Seguimiento de Destino de Crédito"
  subtitulo="Cartera"
  [paramsHier]="paramsHier"
  [nivel]="nivelActual()"
  [tabla]="tabla()"
  [cargando]="cargando()"
  (nivelSeleccionado)="onNivelSeleccionado($event)"
  (errorJerarquia)="onErrorJerarquia()"
  >
    <p nota class="text-[11px] text-[var(--mis-text-tertiary)] m-0 leading-relaxed">
    <b>1. Crédito mayor o igual a S/ 30,000</b><br />
    <b>2. Créditos Agrícolas a una sola cuota mayor o igual a S/.20,000.</b><br />
    <b>3. Todos los productos construyendo confianza</b><br />
    <b>4. No aplica a Créditos destinados a Compra de Deuda o Créditos Grupales</b><br />
  </p>

</app-reporte-simple>