#main {
    display: flex; 
  }
  #main > #name {
    flex: 1;
    order: 1;
  }
  #main > #boton {
    flex: 0 0 20vw;
  order: 2;
}
.base{
    background-color: white;
}

.pos-card{
    box-shadow: 0 8px 12px rgb(47 60 74 / 27%), 0 2px 6px rgb(47 60 74 / 27%) !important;
    background-color: #42A5F5;
    color: white;
}

.bus-bot{
    height: 72px;
    border: 1px solid #0081FF !important;
}
.tbl-title{
  font-size: 15px;
  font-weight: bold;
}

.low-ltrs{
  font-size: 10px;
} 
   