<p-table [value]="filas()" [loading]="cargando()" styleClass="p-datatable-sm">
  <ng-template pTemplate="header">
    @for (filaEnc of filasEncabezado(); track $index) {
      <tr>
        @for (columna of filaEnc; track columna.columnDef) {
          <th
            [attr.colspan]="columna.cols || 1"
            [attr.rowspan]="columna.rows || 1"
            class="text-[12px] uppercase text-center whitespace-nowrap border border-[var(--mis-text-on-primary)]/25"
            [style.background-color]="fondoEncabezado(columna)"
            [style.width]="anchoEncabezado(columna)"
            style="color: var(--mis-text-on-primary)"
            [innerHTML]="columna.header"
          ></th>
        }
      </tr>
    }
  </ng-template>
  <ng-template pTemplate="body" let-fila>
    <tr
      [class]="claseFila(fila)"
      [class.cursor-pointer]="seleccionable()"
      [style.background]="fondoFila(fila)"
      (click)="onClickFila(fila)"
    >
      @for (columna of columnasDato(); track columna.columnDef) {
        <td class="text-[13px] whitespace-nowrap" [class]="alineacion(columna)" [style.background]="fondoCelda(fila, columna)">
          @if (esSemaforo(columna)) {
            @if (mostrarSemaforo(fila, columna)) {
              <i class="pi pi-circle-fill text-[10px]" [class]="colorSemaforo(valor(fila, columna))"></i>
            }
          } @else {
            <span [class]="claseTextoCelda(fila, columna)" [style.color]="colorCelda(fila, columna)">
              {{ formatear(valor(fila, columna), columna) }}
            </span>
          }
        </td>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columnasDato().length || 1" class="text-center text-[13px] text-[var(--mis-text-tertiary)] py-6">
        Sin datos para mostrar.
      </td>
    </tr>
  </ng-template>
</p-table>
