<div id="tour-esg-metricas-tabla" class="rounded-lg border border-[var(--mis-border)] overflow-hidden">
  @if (cargando()) {
    <div class="p-4 flex flex-col gap-2">
      @for (i of [1, 2, 3, 4, 5]; track i) {
        <p-skeleton height="1.5rem" />
      }
    </div>
  } @else {
    <p-table
      [value]="filas()"
      [scrollable]="true"
      scrollHeight="420px"
      [stripedRows]="true"
      dataKey="cod_met"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          @for (col of columnasFijas; track col.key) {
            <th class="whitespace-nowrap text-[12px] uppercase" [style.background-color]="col.headerBg ?? '#008080'" style="color: white;">{{ col.label }}</th>
          }
          @for (col of columnasHistoricasCol(); track col.key) {
            <th class="whitespace-nowrap text-[11px]" style="background-color: #4472c4; color: white;">{{ col.label }}</th>
          }
          <th class="whitespace-nowrap text-[12px] uppercase text-center" style="background-color: #4472c4; color: white; width: 90px;">Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-fila>
        <tr class="text-[13px]" [class.esg-fila-nodo]="fila.is_nod === 1">
          <td>{{ fila.des_met }}</td>
          <td>{{ fila.des_med }}</td>
          <td>{{ fila.des_dis }}</td>
          @for (col of columnasHistoricasCol(); track col.key) {
            <td [title]="fila[col.key]">{{ truncar(fila[col.key]) }}</td>
          }
          <td class="text-center whitespace-nowrap">
            @if (puedeEditar() && fila.is_edit === 1) {
              <p-button
                icon="pi pi-pencil"
                [text]="true"
                [rounded]="true"
                size="small"
                ariaLabel="Editar"
                pTooltip="Editar"
                tooltipPosition="top"
                (onClick)="onEditar(fila)"
              />
            }
            @if (fila.is_nod !== 1) {
              <p-button
                icon="pi pi-table"
                [text]="true"
                [rounded]="true"
                size="small"
                ariaLabel="Ver detalle"
                pTooltip="Ver detalle"
                tooltipPosition="top"
                (onClick)="onVerDetalle(fila)"
              />
            }
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="columnasFijas.length + columnasHistoricasCol().length + 1" class="text-center text-[13px] text-[var(--mis-text-tertiary)] py-6">
            No hay métricas para esta categoría.
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</div>
