<app-window-panel
  titulo="Control de Cargas"
  [subtitulo]="'Actualizado al ' + actualizadoAl()"
  [permitirActualizar]="false"
>
  <p-tabs value="produccion">
    <p-tablist>
      @for (tab of tabs; track tab.id) {
      <p-tab [value]="tab.id" class="!py-2 !px-3">{{ tab.titulo }}</p-tab>
      }
    </p-tablist>

    <p-tabpanels>
      @for (tab of tabs; track tab.id) {
      <p-tabpanel [value]="tab.id">
        <div class="mis-card p-3 overflow-x-auto">
          <app-tabla-reporte [ajustarAncho]="true" [encabezados]="tab.tabla().headers" [filas]="tab.tabla().body" [cargando]="cargando()" />
        </div>
      </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</app-window-panel>
