<p-dialog [visible]="visible()" (visibleChange)="cerrar()" [modal]="true" [style]="{ width: '92vw', maxWidth: '850px' }"
  [draggable]="false" [resizable]="false" header="Seleccionar Colaborador" class="kaypacha-dialog" appendTo="body">
  <div class="py-1">
    <app-data-table [columns]="columnas" [data]="service.colaboradores()" [selectableRows]="true"
      [selectedRow]="itemSeleccionado()" (filaSeleccionada)="onRowSelect($event)" [rows]="8"
      [rowsPerPageOptions]="[8, 15, 25]" [loading]="service.cargandoColaboradores()"
      [searchFields]="['cod_bt', 'des_col', 'HCOLCAR', 'RCODCOL', 'num_doc']"
      searchPlaceholder="Buscar por Nombre, Cargo, Código BT o Documento...">
      <ng-template appDataTableCell="RCODCOL" let-row>
        <p-tag [value]="row.RCODCOL || 'Puma'" severity="info" [rounded]="true"></p-tag>
      </ng-template>
    </app-data-table>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex items-center justify-end gap-3">
      <p-button label="Cancelar" icon="pi pi-times" [outlined]="true" severity="secondary" size="small"
        (click)="cerrar()"></p-button>

      <p-button label="Seleccionar" icon="pi pi-check" severity="primary" size="small" [disabled]="!itemSeleccionado()"
        (click)="seleccionarYCerrar()"></p-button>
    </div>
  </ng-template>
</p-dialog>