<p-dialog
  [visible]="visible()"
  (visibleChange)="cerrar()"
  [modal]="true"
  [style]="{ width: '92vw', maxWidth: '850px' }"
  [draggable]="false"
  [resizable]="false"
  header="Seleccionar Colaborador"
  class="kaypacha-dialog"
  appendTo="body"
>
  <div class="flex flex-col gap-4 py-1">
    <app-data-table
      [columns]="columnas"
      [data]="service.colaboradores()"
      [loading]="service.cargandoColaboradores()"
      [rows]="8"
      [rowsPerPageOptions]="[8, 15, 25]"
      [searchFields]="['cod_bt', 'des_col', 'HCOLCAR', 'RCODCOL', 'num_doc']"
      searchPlaceholder="Buscar por nombre, cargo, código o documento..."
      emptyMessage="No se encontraron colaboradores."
      [selectableRows]="true"
      [selectedRow]="itemSeleccionado()"
      (filaSeleccionada)="itemSeleccionado.set($event)"
    >
      <ng-template appDataTableCell="RCODCOL" let-item>
        <p-tag [value]="item.RCODCOL || 'Puma'" severity="info" [rounded]="true" />
      </ng-template>
    </app-data-table>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex items-center justify-end gap-3">
      <p-button label="Cancelar" icon="pi pi-times" severity="secondary" size="small"
        (click)="cerrar()"></p-button>

      <p-button label="Seleccionar" icon="pi pi-check" severity="primary" size="small" [disabled]="!itemSeleccionado()"
        (click)="seleccionarYCerrar()"></p-button>
    </div>
  </ng-template>
</p-dialog>