@if (!incentivos.cargando()) {
  <div class="super-plus">
    @for (item of incentivos.superPlus(); track item.id) {
      @if (item.show) {
        <button
          type="button"
          class="super-plus-item"
          [class]="claseCaja(item)"
          [class.super-plus-item--activo]="item.enab"
          [disabled]="!item.enab"
          (click)="onClic(item)"
        >
          <span class="super-plus-icono" aria-hidden="true"><i [class]="item.icono"></i></span>
          <span class="super-plus-texto">{{ item.des }}</span>
          <span class="super-plus-monto">S/. {{ item.val | number: '.0-2' }}</span>
        </button>
      }
    }
  </div>
}
